.nav--blue-steel{
    background-color: blue;
}
.body--blue-steel {
    background-color: white;
}
.sort__formgroup__label--blue-steel{
    border-bottom: 1px solid #E4E4E4;
}
.sort__formgroup__radio:checked + .sort__formgroup__label--blue-steel{
    border-bottom: 2px solid blue;
}
.list__item__edit--blue-steel{
    border-color: #E4E4E4;
}