.nav--default, .list__fab--default{
    background-color: #fbc02d;
    color: black;
}
.body--default {
    background-color: white;
}
.sort__formgroup--default{
    background: rgba(0,0,0,0.04);
}
.sort__formgroup__label--default{
    border-bottom: 2px solid rgba(0,0,0,0.08);
}
.sort__formgroup__radio:checked + .sort__formgroup__label--default{
    border-bottom: 2px solid #fbc02d;
}
.list__item__edit--default{
    border-bottom: 2px solid rgba(0,0,0,0.16);
}

/*Datepicker*/
.c-datepicker__header-date{
    background-color: #fbc02d;
}
.c-datepicker__header-day{
    background-color: #f9a825;
    color: black;
}
.c-datepicker__header-date span, .c-datepicker--show-calendar:after, .c-datepicker--show-time:after{
    color: black;
}