<script id="list__item__template" type="x-tmpl-mustache">
    <div class="list__item list__item--{{theme}}" id="list__item__id__{{id}}" data-id="{{id}}">
        <div class="list__item__checkbox">
            <input type="checkbox" data-id="{{id}}" {{#active}}checked{{/active}}>
        </div>
        <div class="list__item__title">
            <h3 class="list__item__title__date">{{dateFormatted}}</h3>
            <h2 class="list__item__title__label">{{title}}</h2>
        </div>
        <div class="list__item__importance">{{{importanceIcons}}}</div>
        <div class="list__item__description">
            <p>{{description}}</p>
        </div>
        <div class="list__item__edit">
            <button class="list__item__edit_button--{{theme}}" type="submit" data-id='{{id}}'>edit</button>
        </div>
    </div>
</script>
<script id="list__item__importance__icon__template" type="x-tmpl-mustache">
    <i class="list__item__importance__icon material-icons {{#active}}list__item__importance__icon--active{{/active}}">whatshot</i>
</script>
<script id="list__nodata__template" type="x-tmpl-mustache">
    Keine offenen Remindeers!
</script>
<script id="list__loading__template" type="x-tmpl-mustache">
    Laden...
</script>