<nav class="nav--default">
    <div class="nav__brand">
        <img class="nav__brand__image" src="img/logo.svg" alt="Remindeer"/>
    </div>
    <div class="nav__title">
        Remindeer
    </div>
    <div class="nav__tools">
        <div class="nav__tools__showdone">
            <label for="nav__showdone" class="nav__tools__showdone__label">Show Done
                <input type="checkbox" id="nav__showdone" class="nav__tools__showdone__input">
                <i class="nav__tools__showdone__icon material-icons"></i>
            </label>
        </div>
        <div class="nav__tools__themeselector">
            <select id="nav__themeselector" class="nav__tools__themeselector__select">
                <option value="default">Default</option>
                <option value="blue-steel">Blue Steel</option>
                <option value="le-tigre">Le Tigre</option>
            </select>
        </div>
    </div>
</nav>