<nav class="nav--default">
    <div class="nav__brand">
        <img class="nav__brand__image" src="img/logo.svg" alt="Remindeer"/>
    </div>
    <div class="nav__title">
        Remindeer
    </div>
    <div>
        <input type="checkbox" id="nav__showdone">
        <label for="nav__showdone">Show Done</label>
        <select id="nav__themeselector">
            <option value="default">Normal</option>
            <option value="blue-steel">Blue Steel</option>
            <option value="le-tigre">Le Tigre</option>
        </select>
    </div>
</nav>