.editor__formgroup{
    position: relative;
    min-height: 56px;
    margin-bottom: 20px;
}
.editor__formgroup__label{
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 16px;
    margin-top: -9px;
    opacity: 0.5;
    color: black;
    pointer-events: none;
}
.editor__formgroup__label--animate{
    transition: all 0.3s;
}
.editor__formgroup__input{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    background: lightgrey;
    border: none;
    padding-left: 15px;
    padding-top: 12px;
    font-size: 16px;
}
.editor__formgroup__label--small{
    font-size: 11px;
    top: 6px;
    margin-top: 0;
}