.editor__formgroup{
    position: relative;
    min-height: 56px;
    margin-bottom: 20px;
}
.editor__formgroup__label{
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 16px;
    margin-top: -9px;
    opacity: 0.5;
    color: black;
    pointer-events: none;
}
.editor__formgroup__label--animate{
    transition: all 0.3s;
}
.editor__formgroup__input{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    position: absolute;
    background: lightgrey;
    border: none;
    padding-left: 15px;
    padding-top: 12px;
    font-size: 16px;
}
.editor__formgroup__label--small{
    font-size: 11px;
    top: 6px;
    margin-top: 0;
}
.editor__listgroup{
    min-height: 56px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.editor__listgroup__label{
    flex: 1;
}
.editor__listgroup__importanceselector, .editor__listgroup__dateselector{
    display: flex;
    padding: 0;
}
.editor__listgroup__importanceselector_listitem{
    list-style: none;
}
.editor__listgroup__importanceselector__icon{
    font-size: 28px;
    margin: 0;
    padding: 0 5px;
    opacity: 0.2;
}
.editor__listgroup__importanceselector__icon--active{
    opacity: 1;
}